* {
  padding: 0;
  color: lime;
  font-family: 'OCR-A', monospace;
}

:root {
  font-size: 16px;
}

/* TODO: use javascript to randomize position and frequency */
@keyframes glitch {
  0% { transform: translate(0); filter: blur(0);} /*initial position*/
  20% { transform: translate(-125px, 71px); filter: blur(2px);}
  40% { transform: translate(-140px, -102px); filter: blur(0);}
  60% { transform: translate(287px, 102px); filter: blur(0px);}
  80% { transform: translate(21px, -56px); filter: blur(px);} 
  100% { transform: translate(0); filter: blur(0);} /*back to initial position*/
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@font-face {
  /* safe / legal?  */
  font-family: 'OCR-A';
  src: url('./fonts/OCRA.ttf') format('truetype');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.startup-text {
  font-size: 1.5rem;
  user-select: none;
}

#access-denied {
  /* glitch animation plays on page load, blink animation plays after glitch animation */
  animation: glitch 0.3s 1.3s, blink 1s 2s infinite;
  color: firebrick; /* or color: crimson; */
}

#access-granted {
  display: none; /* Default state */
}

main {
  /* Javascript: "display: flex" after page load animation*/
  display: none; /* Default state */
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

header {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  padding: 4rem 0 0 2rem;

}

header button {
  background-color: black;
  border: none;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem !important;
}

h1 {
  margin: 0 auto;
}

/* nav container */
nav {
  /* Javascript: "display: flex" when hamburger menu is clicked */
  display: none; /* Default state */
  /* Overlay on top of other page items */
  position: fixed;
  background-color: #333;
  width: 25%;
  height: 100vh;
  flex-direction: column;
  top: 0;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
}

#links a {
  text-decoration: none;
}

#links a:hover {
  background-color: #252525;
}

#close {
  background-color: #333;
  border: none;
  cursor: pointer;
  width: fit-content;
}

#top {
  height: 100vh;
  position: related ;
}

.slideshow-img {
  /* positioned relative to the viewport */
  position: absolute; 
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.test {
  background: red;
}

.slideshow {
  position: relative;
}

.slide {
  position: absolute;
  opacity: 0;
}

.slide.show {
  opacity: 1;
}


  